<mat-sidenav-container class="app-sidenav-container" [class.theme-dark]="isDarkTheme" [dir]="dir">
    <mat-sidenav #sidenav class="app-sidenav" mat-elevation-z10 [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
        <mat-toolbar color="primary">
            Contact
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let user of (users | async)">
                <a matLine [routerLink]="['/contactmanager', user.id]">
                    <mat-icon svgIcon="{{user.avatar}}"></mat-icon>
                    {{ user?.name }}
                </a>
            </mat-list-item>
        </mat-nav-list>


        <!-- <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list> -->
    </mat-sidenav>

    <div class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()" (toggleThemeEvent)="toggleTheme()" (toggleDirEvent)="toggleDir()"></app-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
        <!-- <button type="button" mat-button (click)="sidenav.open()">     -->
        <!-- <button type="button" mat-button (click)="sidenav.toggle()">    -->
        <!-- <button type="button" mat-button>
            open nav-bar
        </button> -->
    </div>
</mat-sidenav-container>