<div *ngIf="user ? false : true">
    <mat-spinner [ngStyle]="{'color': 'warn'}"></mat-spinner>
</div>
<mat-card *ngIf="user ? true : false">
    <mat-card-header>
        <mat-icon mat-card-avatar svgIcon="{{user.avatar}}"></mat-icon>
        <mat-card-title>
            <h2>"{{user.name}}"</h2>
        </mat-card-title>
        <mat-card-subtitle>Birthday : {{user.birthDate | date :'d LLLL' }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Bio"> {{user.bio}} </mat-tab>
            <mat-tab label="Notes">
                <app-notes [notes]=user.notes></app-notes>
                <!-- <mat-list-item *ngFor="let note of user.notes"> -->
                <!-- <p>
                        {{ note.id }} - {{ note.title }} on {{ note.date | date:'M/d/yy, h:mm a'}}
                    </p> -->

                <!-- </mat-list-item> -->
                <!-- <mat-list-item *ngIf="user.notes.length === 0">
                    no note yet !
                </mat-list-item> -->
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>